01/d01-input.txt
02/d02-input-smol.txt
02/d02-input.txt
03/d03-input-smol.txt
03/d03-input.txt
04/d04-input-smol.txt
04/d04-input.txt
05/d05-input-smol.txt
05/d05-input.txt
06/d06-input-smol.txt
06/d06-input.txt
07/d07-input-smol.txt
07/d07-input.txt
08/d08-input-smol.txt
08/d08-input.txt
09/d09-input-smol.txt
09/d09-input.txt
10/d10-input-smol-2.txt
10/d10-input-smol-3.txt
10/d10-input-smol.txt
10/d10-input.txt
11/d11-input-smol.txt
11/d11-input.txt
12/d12-input-no-hash.txt
12/d12-input-one-hash.txt
12/d12-input-smol.txt
12/d12-input.txt
13/d13-input-smol.txt
13/d13-input.txt
14/d14-input-smol.txt
14/d14-input.txt
15/d15-input-smol.txt
15/d15-input.txt
16/d16-input-smol.txt
16/d16-input.txt
17/d17-input-smol.txt
17/d17-input.txt
18/d18-input-smol.txt
18/d18-input.txt
18/d18.xlsx
19/d19-input-smol.txt
19/d19-input.txt
20/d20-input-smol-2.txt
20/d20-input-smol.txt
20/d20-input.txt
21/d21-input.txt
21/d21-input-smol.txt
21/large-d21-input.txt
21/large-d21-input-smol.txt
21/owt.txt
